<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="copy">
		<div id="footer">
			<div class="row">
				<ul class="col-lg-2">
					 <li>
					 	<a href="">
					 		<b class="text-primary">¿QUIÉNES SOMOS?</b>
					 	</a>
					 </li>
					<li>
						<a href="">Condiciones generales de venta de Poxmania</a>
					</li>
					<li>
						<a href="">Términos y condiciones uso de la plataforma</a>
					</li>
					<li>
						<a href="">Cookies</a>
					</li>
					<li>
						<a href="">Aviso legal</a>
					</li>
					<li>
						<a href="">Nuestros compromisos</a>
					</li>
				</ul>
				<ul class="col-lg-2 col-lg-offset-1">
					<li>
						<a style="">
							<b class="text-primary">SERVICIOS</b>
						</a>
					</li>
					<li>
						<a href="">Hacer un pedido</a>
					</li>
					<li>
						<a href="">Modos de entrega</a>
					</li>
					<li>
						<a href="">Pago</a>
					</li>
					<li>
						<a href="">Registrarse</a>
					</li>
					<li>
						<a href="">Seguimiento de mi pedido</a>
					</li>
					<li>
						<a href="">Anular mi pedido</a>
					</li>
					<li>
						<a href="">Mi seguimiento SPV</a>
					</li>
					<li>
						<a href="">Libro de fotos cewe</a>
					</li>
				</ul>
				<ul class="col-lg-2 col-lg-offset-1">
					<li>
						<a href="">
							<b class="text-primary">AYUDA</b>
						</a>
					</li>
					<li>
						<a href="">FAQ</a>
					</li>
					<li>
						<a href="">Opiniones consumidores Poxmania</a>
					</li>
					<li>
						<a href="">Mapa del sitio</a>
					</li>
					<li>
						<a href="">Vender en Poxmania</a>
					</li>
					<li>
						<a href="">Condiciones*</a>
					</li>
					<li>
						<a href="">Contacto</a>
					</li>
				</ul>   
				<ul class="col-lg-2 col-lg-offset-1">
					<li>
						<a href="">
							<b class="text-primary">¡ÚNETE!</b>
						</a>
					</li>
					<li>
						<a href="">
							<span>Facebook</span>
						</a>
					</li>
					<li>
						<a href="">
							<span>Twitter</span>
						</a>
					</li>
					<li>
						<a href="">
							<span>Google+</span>
						</a>
					</li>
					<li>
						<a href="">
							<span>Pinterest</span>
						</a>
					</li>
				</ul>   
			</div>    
			<div class="row well" style="padding:0px;">
				<div style="text-align:center">
					<p class="row">Información legal</p>
					<p class="row">Copyright 2015 Poxmania. Reservados todos los derechos</p>
					<p>
						<a href="administracion/">Administrar</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>